<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="author" content="{{ site.author.name }}" />
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="icon" href="/favicon.png" type="image/png">
  <link rel="shortcut icon" href="/favicon.png" type="image/png">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
{% include cdn_bootcdn.html %}
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/blog-theme/css/pygments.css" />
  <link rel="stylesheet" type="text/css" href="{{ "/assets/blog-theme/css/index.css" | prepend: site.baseurl }}">
  <script type="text/javascript" src="{{ "/assets/blog-theme/js/index.js" | prepend:site.baseurl }}"></script>

  <script type="text/x-mathjax-config">
    MathJax.Ajax.config.path["Contrib"] = "{{ "/assets/mathjax/contrib" | prepend:site.baseurl }}";
    MathJax.Hub.Config({
      extensions: ["[Contrib]/img/img.js"],
      tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
    });
MathJax.Hub.Register.StartupHook("TeX Jax Ready", function () {
  MathJax.InputJax.TeX.Definitions.Add({
    macros: {
      symbol: ["Macro", "\\img [width=16mu] {#1}", 1],
      jx: ["Macro", "\\symbol { {{ "/assets/images/rectangle.svg" | prepend: site.baseurl }} }"], // 矩形
      px: ["Macro", "\\symbol { {{ "/assets/images/parallel.svg" | prepend: site.baseurl }} }"], // 平行
      pxsbx: ["Macro", "\\symbol { {{ "/assets/images/parallelogram.svg" | prepend: site.baseurl }} }"], // 平行四边形
    }
  });
});
  </script>
  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML">
  </script>
</head>
